<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
</div>

<table *ngIf="issues">
  <tbody *ngFor="let issue of issues.items">
    <tr class="head">
      <td>Title: {{issue.title | slice:0:75}}{{issue.title.length > 75 ? '...' : ""}}</td>
      <td>User: {{issue.user?.login}}</td>
      <td >Assignee: {{issue.assignee?.login}}</td>
      <td>Date Created: {{issue.created_at | date: 'yyyy-MM-dd HH:mm'}}</td>
    </tr>
    <tr>
      <td colspan = 4>{{issue.body}}</td>
    </tr>
  </tbody>
</table>
<router-outlet></router-outlet>
